<!DOCTYPE html>
<html>

<head>
    <title>CareBridge Hospital</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <h1>CareBridge Hospital</h1>

        <p>Hospital Management System</p>

        <div class="menu">

            <a href="/register" class="menu-button">
                Register Patient
            </a>

            <a href="/appointment" class="menu-button">
                Book Appointment
            </a>

            <a href="/bill" class="menu-button">
                Calculate Bill
            </a>

            <a href="/triage" class="menu-button">
                Assign Triage Room
            </a>

        </div>

    </div>

</body>

</html>